$red: #f64a4a;
$orange: #fb7c58;
$yellow: #f8cd65;
$neon-green: #a4ffaf;
$almost-white: #e6e5ea;
$grey: #817d92;
$dark-grey: #24232c;
$very-dark-grey: #18171f;
$large-text: 32px;
$medium-text: 24px;
$body-copy: 18px;
